@media screen and (max-width: 767px) {
    .site-nav {
      display: none;
    }
    .directions {
      display: none;
    }
    .nav-burger-btn {
      display: block;
      padding: 0;
      border-color: transparent;
      background-color: transparent;
    }
    .burger-btn-icon {
      stroke: var(--title-text-color);
    }
    .page-header-container {
      padding: 24px 0;
    }
  }

.page-header {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid var(--third-accent-color);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
}

.logo {
    display: inline-block;
    align-items: center;
    margin-right: 76px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-accent-color);
}

.logo-header {
    color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
    .page-header-container {
        padding: 0 16px;
    }
    
    .page-header {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 736px;
    }

    .site-nav {
        display: flex;
        gap: 40px;

    }
    
    .directions {
        display: flex;
    }

    .nav-burger-btn {
        display: none;
    }

    .page-navigation {
        display: flex;
        flex-grow: 1;
        align-items: center;
        flex-grow: 1;
    }

    .link-current {
        display: inline-block;
        padding: 24px 0;
        transition: color var(--transition-dur-and-func);
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
    }

    .site-nav .link-current:hover,
    .site-nav .link-current:focus {
        color: var(--accent-color);
    }

    .site-nav .link-current-active {
        position: relative;
        color: var( --accent-color);
    }

    .link-current-active::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        content: '';
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }

    .directions-list {
        display: flex;
        font-style: normal;
        flex-direction: column;
    }

    .mail-tel {
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: color var(--transition-dur-and-func);
    }
        
    .mail-tel:hover,
    .mail-tel:focus {
        color: var(--accent-color);
    }
}

@media screen and (min-width: 1200px) {
    .page-header {
        max-width: 1128px;
    }

    .logo {
        margin-right: 76px;
    }

    .directions-list {
        display: flex;
        gap: 40px;
        flex-direction: row;
        justify-content: right;
    }

    .mail-tel {
        font-size: 16px;
    }
}