@media screen and (max-width: 767px) {
    .mobile-menu-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: opacity var(--transition-dur-and-fun), visibility var(--transition-dur-and-fun);
      background-color: var(--primary-white-color);
      box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }

    .mobile-menu-backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu {
        width: 100%;
        max-width: 428px;
        min-height: 100%;
        padding-left: 40px;
        padding-right: 35px;
        padding-top: 80px;
        padding-bottom: 40px;
        transition: transform var(--transition-dur-and-fun);
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        background-color: var(--third-accent-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        fill: var(--title-text-color);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: border var(--transition-dur-and-fun), background-color var(--transition-dur-and-fun), fill var(--transition-dur-and-fun);
        cursor: pointer;
    }

    .mobile-menu-close-btn:focus {
        background-color: var(--accent-color);
        border: none;
    }

    .mobile-menu-close-btn:focus .obile-menu-close-icon {
        fill: var(--primary-white-color)
    }

    .mobile-menu-navigation {
        margin-bottom: 284px;
    }

    .mobile-menu-nav-list-link {
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: var(--title-text-color);
        margin-bottom: 40px;
        transition: color var(--transition-dur-and-fun);
    }

    .mobile-menu-nav-list-link:focus {
        color: var(--accent-color);
    }

    .mobile-menu-link-current {
        color: var(--accent-color);
    }

    .mobile-menu-directions-list {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-directions-link {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu-tel {
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        font-style: normal;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 40px;
        color: var(--secondary-accent-color);
        transition: color var(--transition-dur-and-fun);
    }

    .mobile-menu-tel:focus {
        color: var(--accent-color);
    }

    .mobile-menu-mail {
        display: block;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        font-style: normal;
        letter-spacing: 0.4px;
        color: var(--primary-text-color);
        margin-bottom: 48px;
        transition: color var(--transition-dur-and-fun);
    }

    .mobile-menu-mail:focus {
        color: var(--accent-color);
    }

    .mobile-menu-social-block {
        padding-right: 25px;
    }

    .mobile-menu-social-list {
        display: flex;
        gap: 56px;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu-social-list-item {
        width: 40px;
        height: 40px;
    }

    .mobile-menu-social-list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 8px;
        background-color: var(--secondary-accent-color);
        border-radius: 50%;
        transition: background-color var(--transition-dur-and-fun);
    }

    .mobile-menu-social-list-link:focus {
        background-color: var(--accent-color);
    }

    .mobile-menu-social-list-icon {
        fill: var(--light-mode-backgrounds-color);
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu-backdrop {
        display: none;
    }
  }